# Add the linters and code formatters
flake8
black

# Add unit tests
pytest

# For Timezones on Windows. On linux, it will use the system binaries first
tzdata

# Add other packages here:
requests
pyyaml
click
appdirs

# Pandoc items
pandoc-fignos
pandoc-eqnos
pandoc-tablenos
pandoc-secnos
